{
    "settings": {
        "jsdoc": {
            "mode": "typescript"
        }
    },
    "root": true,
    "extends": [
        "@hckrnews/eslint-config",
        "plugin:import/recommended",
        "plugin:n/recommended",
        "plugin:jsdoc/recommended"
    ],
    "plugins": [
        "import"
    ],
    "rules": {
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "always"
            }
        ],
        "consistent-return": "warn",
        "eqeqeq": "warn",
        "jsdoc/require-param-description": "off",
        "jsdoc/require-property-description": "off",
        "jsdoc/require-returns-description": "off",
        "max-len": [
            "warn",
            {
                "code": 120
            }
        ]
    },
    "env": {
        "es6": true,
        "node": true,
        "jquery": false,
        "browser": true
    },
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
}
