name: Node Copy Paste Detector

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js 20
      uses: actions/setup-node@v4
      with:
        node-version: 20
        cache: 'npm'
    - name: npm cpd
      run: |
        npm ci
        npm run cpd
      env:
        CI: true
